/* navbar started */
.main-nav {
    box-shadow: 0px 1px 8px var(--color-gray);
    position: fixed;
    top: 0;
    width: 100%;
}

.nav {
    gap: 2rem;
}

.para-nav {
    margin: 10px auto;
    font-size: 16px;
    color: var(--color-dark-gray);
    cursor: pointer;
}


#icon-nav {
    display: none;
}
/* navbar ended */


/* --- container-1 started --- */
.container-1 {
    gap: 10rem;
    margin: 1rem 3rem;
    margin-top: 10rem;
}

.parent-1 {
    width: 65rem;
}

.span-1 {
    font-size: 4rem;
}

.welcome {
    font-size: 6rem;
    line-height: 4.5rem;
}

.ngo {
    font-size: 4rem;
}

.para-1 {
    font-size: 1.5rem;
}
/* --- container-1 ended --- */


/* container-2 started */
.general, .rs {
    background-color: var(--bg-light-dark);
    font-size: 1rem;
    color: var(--bg-white);
    padding: 2.5rem;
    border-radius: 5px 0px 0px 5px;
}

#number {
    width: 25rem;
    padding: 2.8rem;
}
/* container-2 ended */



















































/* nav responsive 1200px start */
@media (max-width: 1200px) {


    #nav {
        display: none;
    }

    #icon-nav {
        display: block;
        border: 1px solid var(--color-gray);
        color: var(--color-dark-gray);
        border-radius: 3px;
        padding: 3px 14px;
    }
}
/* nav responsive 1200px end */


/* nav responsive 850px start */
@media (max-width: 850px) {
    #icon-nav {
        padding: 3px 8px;
    }

    
}
/* nav responsive 850px end */